.page-change-password{

  .change-password-section{
    background: var(--color-secondary);
    padding: 0 0 150px;
    position: relative;
    margin: 0;
    border-radius: 8px 8px 0px 0px;
    @include desktop-small {
      padding: 0 0 40px;
    }

    @include whq-card-form(
      $text-color: var(--unsubscribe-text),
      $title-bg: var(--unsubscribe-bg),
      $title-color: var(--unsubscribe-title),
      $card-shadow: none,
      $border-radius: 24px,
      $spacing: 0rem,
      $title_typography: (size: display-xs, weight: semibold),
      $button_typography: (size: text-lg, weight: bold),
      $label_typography: (size: text-md, weight: semibold),
      $input_styles: (),
    );

    .whq-card-content {
      align-items: stretch !important;
      gap: 4px !important;
    }
  }
  .form-actions{

    // align-self: center;

    .button{
      width: 100%;

    }
    // .button::before {
    //   content: ""; 
    //   display: inline-block;
    //   width: 16px;
    //   height: 16px;
    //   background: url('./../../images/button-icon.svg') no-repeat center center;
    //   background-size: contain;
    
    // }

  }
}
// .page-change-password .change-password-section .whq-card .whq-card-container {
//   border-radius: 2rem;
// }

// .page-change-password .change-password-section .whq-card {
//   margin-top: 0;
//   margin-bottom: 0 !important;
//   padding-bottom: 4rem !important;
// }