.page-unsubscribe {
  .login-page-content {
    background-color: var(--color-secondary);
    padding: 0 0 150px;

    @include desktop-small {
      padding: 0 16px 40px;
    }
  }
}

.unsubscribe-title {

  @include typography (display-sm, semibold);
  text-align: center;
  margin-bottom: 32px;
  color: var(--color-text-dark);
  font-family: var(--secondary-font);
  max-width: 551px;
  width: 100%;

}
.inline {
  @include typography (text-md, bold);
  color: var(--color-text-dark);
}

.unsubscribe-form {

  .form-input {
    &::placeholder {
      color: var(--color-white);
    }
  }

  .form-actions {
    .button {
      width: 100%;
      background: var(--warning) ;
      color: var(--color-white);
      border-radius: 50px;
      // box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      @include typography(text-md, semibold);
      margin-top: 16px;
    }
  }
}




.form-login-wrapper {
  // padding: 0 0 5rem;
    position: relative;
    display: flex;
    justify-content: center;

    // input{
    //   border-radius: 8px;
    // }


  input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    transition: background-color 500000s ease-in-out 0s, color 5000s ease-in-out 0s !important;
  }

  input:focus {
    outline: none;
    // border-color: white;
    box-shadow: none;
  }

  .form-data.rememberme {
    margin-top: 15px;
    text-align: left;
    width: 50%;

    @include mobile{
      width: 100%;
    }

    label {
      display: inline-block;
      color: var(--color-white);
      @include typography(text-sm, regular)
    }
  }

  input[type="checkbox"] {
    width: auto;
    appearance: auto;
    display: inline-block;
  }

  #grav-login {
    // position: absolute;
    // top: calc(50% - 230px);
    padding: 44px;
    max-width: 639px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-white);
    border-radius: 24px;
    // box-shadow: 0px 4px 4px 0px rgba(51, 51, 51, 0.04), 0px 4px 16px 0px rgba(51, 51, 51, 0.08);

    @include mobile{
      padding: 24px 12px;
    }

    h1, h2, h3, h4 {
      text-align: center;
      margin-bottom: 20px;
      color: var(--color-white);
    }

    & > p {
      text-align: center;
      margin-bottom: 38px;
      color: var(--color-white);
    }
    .form-actions {
      text-align: center;
      .button {
        display: inline-block;
        // background: var(--color-white);
        background-image: none;
        --animate-duration: 1s;
        --animate-repeat: 1;
        --animate-delay: 0.5s;
        transition: all .2s ease-in-out;
        padding: 14px 20px;
        // border-radius: var(--border-radus);
        @include typography(base);
        // color: var(--color-global-btn);
        font-weight: 600;

        &:hover {
          transform: translateY(-.15rem);
          box-shadow: 0 0.25rem 0.75rem rgba(30, 34, 40, .15);
        }
      }

      a {
        color: var(--color-primary)  !important;
        &:hover{
          box-shadow: none !important;
        }
   }
 } 

 .form-action-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  // margin-top: 25px;

 
  .primary{
    width: 100%;
    background: var(--color-secondary);
    color: var(--color-text-dark);
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    @include typography(text-md, semibold);
  }

  .secondary{
    max-width: 300px;
    align-self: end;
    margin-top: -25px;
    background: none;
    color: var(--color-white) !important;
    text-decoration: none;
    padding: 0;
    @include typography(text-sm, semibold);

    @include mobile{
      margin-top: 10px;
    }
  }
}
  }
}