.footer-section {
  overflow: hidden;
  background: var(--color-primary);
  color: var(--color-white);
  display: flex;
  padding: 44px 0 21px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  align-self: stretch;

  // background-image: url(../../images/footer-shape.png), url(../../images/footer-watermark.png);
  // background-repeat: no-repeat;
  // background-size: cover, contain;
  // background-position: top left, bottom left;

  @include tablet {
    padding: 59px 0 24px;
    gap: 18px;
  }

  .footer-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;

    @include desktop-small {
      flex-direction: column;
    }


    .logo-container {
      padding: 0;
      justify-content: start;
      align-items: start;
      background: transparent !important;
    }

    .title {
      font-family: var(--secondary-font);
      @include typography(display-xs, semibold);
      text-transform: capitalize;
      // color: var(--color-text-dark);

      @include desktop-small {
        @include typography(display-xs, semibold);
        margin-bottom: 12px;
      }
    }

    .flexcontainer {
      margin-top: 16px;
    }

    p {
      @include typography(text-xl, regular);

      @include desktop-small {
        @include typography(text-md, semibold);
      }

      // padding: 6px 0;
      // color: var(--color-text-dark);
    }

    a {
      color: var(--color-white);
      text-decoration: none;
      @include typography(text-md, regular);

      @include desktop-small {
        @include typography(text-md, regular);
      }

      &:hover {
        text-decoration: underline;
      }
    }


    .footer-logo-top {
      display: flex;
      justify-content: space-between;
      align-self: stretch;

      @include desktop-small {
        flex-direction: column;
        align-items: start;
        gap: 40px;
      }


      .footer-contact-wrapper {
        width: 56%;
        display: flex;
        // flex-direction: column;
        gap: 24px;

        @include desktop-small {
          width: 100%;
          flex-direction: column;
          gap: 32px;
        }



        .footer-contact {

          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 24px;
          width: 55%;

          @include desktop-small{
            width: 100%;
          }

          .text-dark{
            display: flex;
            align-items: center;
            gap: 8px;

            .icon{
              width: 24px;
              height: 24px
            }

            a {

            
              @include typography(text-md, regular);
  
              @include desktop-small {
                @include typography(text-md, regular);
              }
  
              color: var(--color-white);
  
              svg{
                width: 24px;
                height: 24px;
              }            
            }
  
            a {
              span {
                @include typography(text-lg, regular);
              }
            }
          }


        }

      }



      .logo {
        max-width: 283px;
        height: auto;
      }

      .footer-logo-area {
        flex-basis: 32%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-self: stretch;
        gap: 24px;

        @include desktop-small {
          gap: 32px;
        }

        .branding-text {
          @include typography(text-md, regular);

          @include desktop-small {
            @include typography(text-lg, regular);
          }
        }
      }

      .footer-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        width: 35%;

        @include desktop-small{
          width: 100%;
          gap: 12px;
        }

        .menu-item {
          display: flex;
          // padding: 6px 0;
          justify-content: flex-start;
          align-items: center;
          gap: 0.625rem;
          @include typography(text-lg, regular);

          @include desktop-small {
            @include typography(text-md, regular);
          }


          // &:nth-child(4), &:nth-child(5), &:nth-child(6){
          //   display:none
          // }
        }
      }
    }

    .footer-cards {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
      justify-content: left;
      gap: 2rem;

      @include desktop-small {
        width: 100%;
      }

      img {
        width: 60px;
      }
    }
  }

  .footer-bottom {
    // border-top: 1px solid var(--color-gray);
    width: 100%;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      // flex-direction: column;
      gap: 0.625rem;
      align-self: stretch;
      // background: var(--panel-footer-bg);    
      padding-top: 21px;



      @include tablet {
        margin-top: 0;
        padding-top: 24px;
        flex-direction: column-reverse;
        gap: 40px;
      }

      p {
        // color: var(--color-text-dark);
        @include typography(text-lg, regular);

        @include desktop-small {
          @include typography(text-md, regular);
        }

        text-align: center;

      }

      .policy-pages-link-area {

        display: flex;

        @include tablet {
          flex-direction: column;
          gap: 9px;

        }

        .copyright-link {
          border-right: 1px solid var(--color-white);
          padding: 10px 40px;
          color: var(--color-white);
          text-decoration: none;
          @include typography(text-md, bold);

          // &:nth-child(odd) {
          //   border-right: none;
          //   padding-right: 0;
          //   padding-left: 60px;

          // }

          &:last-child {
            border-right: none;
            padding-right: 0;
            // padding-left: 60px;

          }

          @include tablet {
            @include typography(text-md, bold);
            padding: 0;
            border-right: none;

          }
        }
      }

    }
  }

}





.footer_top {
  background: linear-gradient(to top, var(--color-primary) 55%, transparent 55%);
  padding-top: 34px;

  @include desktop-small{
    background: linear-gradient(to top, var(--color-primary) 40%, transparent 40%);
  }




  .container {
    display: flex;
    align-items: center;
    justify-content: center;

    .footer_container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 60px;
      border-radius: 8px;
      background: var(--bg-secondary);
      padding: 70px 60px;
      width: 100%;
      // max-width: 1216px;

      @include desktop-small {
        flex-direction: column;
        gap: 40px;
        padding: 42px 16px;
      }

      @include tablet {
        padding: 24px 12px;
      }



      .top_left {
        display: flex;
        // flex: 1.2;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        color: var(--color-text-dark);
        width: 100%;

        @include desktop-small {
          flex-direction: column;
          gap: 32px;
          align-items: flex-start;
        }

        h3 {
          font-family: var(--secondary-font);
          @include typography(display-lg, semibold);
          max-width: 591px;

          @include tablet {
            @include typography(display-sm, semibold);
            max-width: 100%;
          }
        }


        p {
          @include typography(text-lg, regular);

          @include tablet {
            @include typography(text-md, regular);
          }
        }

        .button {
          display: flex;
          align-items: center;
          gap: 10px;

        }

      }
    }
  }


}