<div class="pricing" data="{{ packageKey }}">
    <div class="pricing-content">
        <div class="recommended-tag-parent">
            {% if header.on_package == package %}
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="18" viewBox="0 0 50 18" fill="none">
                    <path d="M25 0L49.2487 17.8393H0.751289L25 0Z" fill="#255728"/>
                </svg>
            {% endif %}
            {% include 'partials/product_pricing/widget/_recommended_tag.html.twig' %}
        </div>
        
                <div class="package-top-section">
            <div class="price">
                <div class="package-title">
                    {% include 'partials/product_pricing/widget/_package_title.html.twig' %}
                    {% if iterationCount == 1 %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
                            <path d="M13.7669 0.250012C14.5264 0.249835 15.035 0.25012 15.5228 0.369153C15.7437 0.423089 15.9602 0.494614 16.1683 0.583996C16.6301 0.782392 17.0249 1.08648 17.6048 1.53322L17.6751 1.5879L17.7074 1.61232L18.4515 2.18654C19.1544 2.73249 19.7347 3.19896 20.1917 3.62794C20.8146 4.21257 21.2741 4.78689 21.515 5.48732C21.7126 6.06211 21.787 6.66836 21.7328 7.2715C21.6664 8.0091 21.3538 8.6683 20.8851 9.36818C20.4276 10.0513 19.7721 10.8431 18.9476 11.8389L14.89 16.7393C14.1535 17.6287 13.5482 18.3603 12.9925 18.8613C12.4091 19.3873 11.7833 19.7499 11.0003 19.75C10.2173 19.75 9.59153 19.3872 9.00815 18.8613C8.4525 18.3604 7.84706 17.6286 7.11069 16.7393H7.10971L3.05209 11.8389L2.46616 11.1289C1.91238 10.454 1.45776 9.88057 1.11459 9.36818C0.645901 8.6683 0.333277 8.0091 0.266936 7.2715C0.212745 6.66839 0.287134 6.06208 0.48471 5.48732C0.725561 4.78689 1.18509 4.21257 1.80795 3.62794C2.4174 3.05591 3.24625 2.41761 4.29233 1.61232L4.32455 1.5879L4.39487 1.53322C4.97477 1.08654 5.36964 0.782393 5.83139 0.583996C6.03948 0.494613 6.25596 0.423089 6.4769 0.369153C6.96479 0.250072 7.47322 0.249835 8.23276 0.250012H13.7669ZM9.00033 5.75001C8.58613 5.75001 8.25034 6.0858 8.25033 6.50001C8.25033 6.91423 8.58612 7.25001 9.00033 7.25001H13.0003C13.4144 7.2498 13.7503 6.9141 13.7503 6.50001C13.7503 6.08593 13.4144 5.75022 13.0003 5.75001H9.00033Z" fill="#085C44"/>
                        </svg>

                    {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                            <path d="M18.0195 15.5848C18.1886 15.6609 18.1984 15.873 18.2187 16.2957C18.2733 17.4336 17.9543 18.4502 17.5283 19.2703C17.1562 19.9866 16.7029 20.5585 16.3457 20.949C16.2139 21.1135 15.8997 21.4692 15.6953 21.5789L15.6933 21.5799C15.4836 21.7494 15.1991 21.7953 14.9472 21.699C14.6954 21.6028 14.5139 21.3792 14.4707 21.1131C14.3599 20.4311 14.0855 19.737 13.7255 19.0779C13.5759 18.8039 13.5012 18.6668 13.5351 18.5477C13.5692 18.4287 13.7007 18.3541 13.9638 18.2049C15.228 17.4879 16.3367 16.7323 17.3037 15.95C17.6675 15.6557 17.8499 15.5088 18.0195 15.5848ZM4.28609 13.0897C4.50249 12.7869 4.90734 12.6869 5.24019 12.8533C6.81302 13.6398 8.35807 15.185 9.14449 16.7576C9.3109 17.0905 9.21007 17.4954 8.90718 17.7117H8.90621C8.62519 17.9925 7.79751 18.3015 7.4189 18.4207C6.55702 18.6852 5.32653 18.819 4.14937 18.0975C4.04777 18.0351 3.96264 17.9491 3.90035 17.8475C3.17885 16.6702 3.31257 15.4398 3.57711 14.5779C3.7 14.0569 4.10084 13.3685 4.28609 13.0897ZM13.0586 0.921687C16.1093 -0.210623 18.8965 0.257732 20.5712 1.08477C20.7202 1.15834 20.8414 1.27962 20.915 1.42852C21.7421 3.10324 22.2105 5.89035 21.0781 8.94122C19.9395 12.0085 17.216 15.2599 11.8017 17.9227C11.5947 18.0244 11.352 18.0264 11.1435 17.9275C10.9352 17.8286 10.7836 17.6395 10.7314 17.4149C10.6129 16.9048 9.95426 15.2842 8.33492 13.6649C6.71547 12.0455 5.09478 11.3868 4.58492 11.2684C4.36034 11.2161 4.17106 11.0646 4.07222 10.8563C3.97346 10.6478 3.97536 10.4051 4.07711 10.1981C6.73981 4.78394 9.99128 2.06027 13.0586 0.921687ZM17.0273 4.97247C16.0426 3.988 14.4456 3.98796 13.4609 4.97247C12.4764 5.95715 12.4764 7.55417 13.4609 8.53887C14.4456 9.52344 16.0426 9.52341 17.0273 8.53887C18.0118 7.55416 18.0119 5.95716 17.0273 4.97247ZM5.70308 3.77911C6.12621 3.79942 6.33802 3.80973 6.41402 3.9793C6.49002 4.14889 6.34222 4.33119 6.04781 4.69512C5.26565 5.66202 4.51084 6.77097 3.7939 8.03497C3.64456 8.29827 3.56929 8.42974 3.45015 8.46368C3.33105 8.49742 3.19369 8.42278 2.91988 8.27325C2.26098 7.91344 1.56752 7.63789 0.8857 7.52716C0.619555 7.48395 0.396013 7.30246 0.299763 7.05059C0.203716 6.79888 0.248613 6.51505 0.417927 6.30548L0.41988 6.30255C0.529701 6.09813 0.885314 5.7848 1.04976 5.65313C1.44027 5.29592 2.01132 4.8416 2.7275 4.46954C3.54774 4.04344 4.56504 3.72449 5.70308 3.77911Z" fill="#085C44"/>
                        </svg>
                    {% endif %}
                    
                </div>
                {% include 'partials/product_pricing/widget/_pricing_section.html.twig' %}
                    
            </div>
            {% include 'partials/product_pricing/widget/_signup_btn.html.twig' %}
        </div>

        {% include 'partials/product_pricing/widget/_benefits.html.twig' with { iterationCount: iterationCount } %}

    </div>
    
</div>
{# <script>
   // Embed the product data as a JSON object
   var output = {{ product| json_encode | raw }};
   console.log('Product', output);
</script> #}