<div class="benefits">
    {% for benefit in product.all_benefits %}
        <div class="benefit">
        {% if iterationCount == 1 %}
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="28" viewBox="0 0 27 28" fill="none">
                <path d="M13.5 27.4375C6.07867 27.4375 0.0625 21.4213 0.0625 14C0.0625 6.57867 6.07867 0.5625 13.5 0.5625C20.9213 0.5625 26.9375 6.57867 26.9375 14C26.9375 21.4213 20.9213 27.4375 13.5 27.4375Z" fill="#EAECFF"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.4214 11.0947C19.8879 10.5858 19.8536 9.79505 19.3447 9.32856C18.8358 8.86207 18.045 8.89645 17.5786 9.40535L11.5857 15.943L9.38388 13.7411C8.89573 13.253 8.10427 13.253 7.61612 13.7411C7.12796 14.2293 7.12796 15.0207 7.61612 15.5089L10.7411 18.6339C10.9822 18.875 11.3113 19.0071 11.6522 18.9997C11.993 18.9923 12.3161 18.846 12.5464 18.5947L19.4214 11.0947Z" fill="#0A5CD7"/>
            </svg>
        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="28" viewBox="0 0 27 28" fill="none">
            <path d="M13.5 27.4375C6.07867 27.4375 0.0625 21.4213 0.0625 14C0.0625 6.57867 6.07867 0.5625 13.5 0.5625C20.9213 0.5625 26.9375 6.57867 26.9375 14C26.9375 21.4213 20.9213 27.4375 13.5 27.4375Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.4214 11.0947C19.8879 10.5858 19.8536 9.79505 19.3447 9.32856C18.8358 8.86207 18.045 8.89645 17.5786 9.40535L11.5857 15.943L9.38388 13.7411C8.89573 13.253 8.10427 13.253 7.61612 13.7411C7.12796 14.2293 7.12796 15.0207 7.61612 15.5089L10.7411 18.6339C10.9822 18.875 11.3113 19.0071 11.6522 18.9997C11.993 18.9923 12.3161 18.846 12.5464 18.5947L19.4214 11.0947Z" fill="#0A5CD7"/>
            </svg>
        {% endif %}
        <div class="streamline">{{ benefit|markdown(false) }}</div>
        </div>
    {% endfor %}
</div>