.faqs {
  padding: 80px 0 0;
  margin-bottom: 50px;
  background-color: var(--color-secondary);

  // background-image: url(../../images/bg_faq.png);
  // background-size: contain;
  // background-position: bottom;
  // background-repeat: no-repeat;

  @include desktop-small {
    padding: 40px 0;
    margin-bottom: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-left: 20px;
    padding-right: 20px;

    @include tablet {
      gap: 24px;
    }


    .faq-content {
      display: flex;
      flex-direction: column;
      gap: 22px;
      align-items: center;

      .block-title {
        max-width: 660px;
        text-align: center;
        color: var(--color-text-light);
        @include typography(display-lg, semibold);
        font-family: var(--secondary-font);

        @include desktop-small {
          @include typography(display-sm, semibold);
        }

        span {
          color: var(--color-primary);
          @include typography(display-lg, semibold);
          font-family: var(--secondary-font);

          @include desktop-small {
            @include typography(display-sm, semibold);
          }

        }
      }

      .sub-title {
        max-width: 660px;
        text-align: center;
        color: var(--color-text-light);
        @include typography(text-xl, regular);

        @include desktop-small {
          @include typography(text-lg, regular);
        }
      }

    }

    .faqs-container {
      display: flex;
      justify-content: space-between;
      gap: 2rem;


      @include desktop-small {
        flex-direction: column;
        gap: 48px;
        align-items: center;
      }

      .faqs-left {
        // flex-basis: 40%;
        max-width: 427px;
        // color: var(--color-white);

        display: flex;
        gap: 40px;
        flex-direction: column;
        justify-content: space-between;
        @include desktop-small {
          flex-basis: 100%;
          .left_image {
            display: none;
          }
        }

        .faqs-header-section {
          display: flex;
          gap: 24px;
          flex-direction: column;

          @include desktop-small {
            gap: 20px;
          }
          
          .sub-title {
            // font-family: var(--secondary-font);

            color: var(--color-text-light);

            @include typography(text-xl, regular);
            @include desktop-small {
              @include typography(text-md, regular);
            }
          }

          .block-title {

            @include typography(display-lg, semibold);
            font-family: var(--secondary-font);
            color: var(--color-text-dark);

            @include desktop-small {
              @include typography(display-md, semibold);
            }
            // span {
            //   color: var(--color-primary);
            //   font-family: var(--secondary-font);
            // }
          }

          .page-content {
            color: var(--color-tertiary);
            @include typography(text-xl, medium);

            @include desktop-small {
              @include typography(text-md, medium);
            }
          }

          .faqs-started-btn {
            .button {
              width: fit-content;
              display: flex;
              padding: 12px 20px;
              border-radius: 10px;
              background: var(--color-primary);
              color: var(--color-white);
              //position: relative;
              @include typography(text-lg, extra_bold);
              //height: 52px;
              //max-width: 170px;
              //margin-top: 16px;

              @include desktop-small {
                padding: 12px 16px 12px 12.128px;
                //width: 154px;
                //height: 44px;
                //margin-top: 4px;
              }
            }

            .faqs-started-btn-icon {
              position: absolute;
              width: 52px;
              right: -30px;

              @include desktop-small{
                width: 44px;
              }
            }
          }
        }
      }

      .faqs-items {
        // flex-basis: 54%;
        align-items: center;
        max-width: 671px;
        width: 100%;
        display: flex;
        flex-direction: column;
        // gap: 20px;
        padding-bottom: 80px;

        @include desktop-small {
          padding-bottom: 0;
        }


        .faq-accordion-item {
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 100%;
          padding: 20px 0;
          // background: var(--color-white);
          // border-radius: 20px;
          // box-shadow: 0px 4px 18.3px 0px rgba(0, 0, 0, 0.12);
          border-top: 1px solid var(--color-text-dark);

           &:last-child {
             border-bottom: 1px solid var(--color-text-dark);
           }

          // @include desktop-small {
          //   border-bottom: 1px solid var(--color-white);

          //   &:first-child {
          //     border-top: 1px solid var(--color-white);
          //     border-bottom: 1px solid var(--color-white);
          //   }

          // }

          .faq-accordion-header {
            display: flex;
            // flex-direction: row-reverse;
            gap: 30px;
            cursor: pointer;


            .faq-accordion-btn {
              flex: 1;
              border: none;
              background-color: transparent;
              color: var(--color-text-dark);
              text-align: left;
              @include typography(text-xl, bold);
              cursor: pointer;
              // font-family: var(--secondary-font);

              @include desktop-small {
                @include typography(text-lg, bold);
              }
            }

            .opened {
              // color: var(--color-primary) !important;
              color: var(--color-text-dark) !important;
            }
          }

          .faq-accordion-body {
            overflow: hidden;
            transition: height 3s ease;
            padding-bottom: 4px;
            @include typography(text-md, regular);
            color: var(--color-text-light);
            // padding-left: 54px;
            // font-family: var(--secondary-font);

            @include desktop-small {
              padding-bottom: 0;
            }
          }

          .d-none {
            display: none;
          }

          .d-block {
            display: block;
          }
        }
      }
    }

  }
}