.hero-section {
  background: var(--color-secondary);
  padding: 134px 0 0;
  color: var(--color-white);

  // background-image: url(../../images/hero-shape.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: relative;


  @include tablet {
    padding: 112px 0 0;
    background-image: url(../../images/hero/hero_bg_mobile05.png) !important;
    // background-position: bottom;
    // background-size: 171% 69%;
  }


  .hero-wrapper {

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 103px;

    @include tablet {
      gap: 85px;
    }

    .text-contents {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 18px;

      @include tablet {
        gap: 24px;
      }

      .hero-title {
        color: var(--color-primary);
        font-family: var(--secondary-font);
        @include typography('display-xxl', 'bold');
        max-width: 65%;

        @include desktop-small {
          @include typography('display-lg', 'semibold');
          max-width: 100%;
        }

        span {
          display: block;
          @include typography('display-lg', 'medium');

          @include desktop-small {
            @include typography('display-xm', 'medium');
          }
        }
      }

      p {
        @include typography('text-md', 'regular');
        margin-bottom: 16px;
        max-width: 508px;
        color: var(--color-text-dark);


        @include tablet {
          @include typography('text-md', 'regular');
          max-width: 100%;
          // margin-bottom: 2px;
        }
      }

      .hero-btn {

        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
        background: var(--color-primary);
        padding: 12px 24px;
        border-radius: 12px;

        span {
          @include typography('text-lg', 'extra_bold');
          color: var(--color-white);

          @include desktop-small {
            @include typography('text-md', 'bold');
          }
        }
      }
    }

    .img_part {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      position: relative;

      .hero_bl {
        position: absolute;
        bottom: 16%;
        left: 5%;

        @include desktop-small {
          display: none;
        }
      }

      .hero_br {
        position: absolute;
        bottom: 16%;
        right: 5%;

        @include desktop-small {
          display: none;
        }
      }

      .hero_tl {
        position: absolute;
        top: 38%;
        left: 3%;

        @include desktop-small {
          display: none;
        }
      }

      .hero_tr {
        position: absolute;
        top: 38%;
        right: 3%;

        @include desktop-small {
          display: none;
        }
      }

      .image-contents {
        max-width: 701px;
        width: 100%;
        display: flex;
        justify-content: center;


        .hero-img-for-desktop {
          width: 100%;

          @include tablet {
            display: none;
          }

        }

        .hero-img-for-mobile {
          display: none;


          @include tablet {
            display: block;
            // width: 100%;
            width: 306px;
            height: 244px;

          }

        }
      }
    }


  }

}