.page-about .no-hero-section {
  padding: 134px 0 0;

  @include desktop-small {
    padding: 112px 0 0;
  }



  @include mobile {

    .container {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .head-content {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }


}

.page-about .no-hero-section .no-hero-wrapper {

  .head-content {
    gap: 16px;
    width: 70%;

    @include desktop-small {
      width: 100%;
    }

    .subtitle h4 {
      @include typography('text-xl', regular);

      @include tablet {
        @include typography('text-sm', regular);
      }
    }
  }

  .head-content h1 {
    @include typography('display-xxl', bold);
    font-family: var(--secondary-font);
    color: var(--color-primary);
    max-width: 642px;
    margin-bottom: 18px;

    @include desktop-small {
      @include typography('display-lg', semibold);
      max-width: 100%;
      margin-bottom: 6px;
    }
  }

  .image-contents {
    margin-top: 39px;
    position: relative;

    .hero_bl {
      position: absolute;
      bottom: 19%;
      left: 21%;

      @include desktop-small {
        display: none;
      }
    }

    .hero_br {
      position: absolute;
      bottom: 19%;
      right: 24%;

      @include desktop-small {
        display: none;
      }
    }

    .hero_tl {
      position: absolute;
      top: 46%;
      left: 14%;

      @include desktop-small {
        display: none;
      }
    }

    .hero_tr {
      position: absolute;
      top: 49%;
      right: 26%;

      @include desktop-small {
        display: none;
      }
    }

    @include desktop-small {
      margin-top: 46px;
    }
  }
}





.no-hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 42px 0;
  background: var(--color-secondary);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 150px 0 64px;

  @include desktop-small {
    padding: 130px 0 50px;
  }

  .no-hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    // gap: 40px;

    @include desktop-small {
      // gap: 34px;
    }

    .head-content {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 24px;
      width: 70%;


      @include desktop-small {
        width: 100%;
        gap: 18px;
      }

      h1 {
        @include typography('display-lg', semibold);
        font-family: var(--secondary-font);
        color: var(--color-text-dark);
        max-width: 524px;

        @include desktop-small {
          @include typography('display-md', semibold);
          max-width: 100%;
        }

        span {
          display: block;
          font-family: var(--secondary-font);

          @include typography('display-md', medium);

          @include desktop-small {
            @include typography('display-sm', bold)
          }
        }
      }

      .subtitle {
        display: flex;
        align-items: center;
        gap: 8px;
        border-radius: 24px;
        background: rgba(255, 255, 255, 0.60);
        padding: 10px 16px;

        h4 {
          @include typography('text-xl', regular);
          color: var(--color-text-dark);

        }
      }


      .no-hero-breadcrumb {
        // display: flex;
        margin-top: 1rem;
        width: 100%;
        text-align: center;
        // display: none;

        ol {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          padding: 0 0;
          //margin-bottom: 1rem;
          list-style: none;
          border-radius: 0;
          color: var(--color-white);

          .breadcrumb-item {
            display: flex;
            align-items: center;
            @include typography(text-lg, regular);

            @include desktop-small {
              @include typography(text-md, regular);
            }

            color: var(--color-white);

            a {
              text-decoration: none;
              color: var(--color-white);
              @include typography(text-lg, regular);

              @include desktop-small {
                @include typography(text-md, regular);
              }
            }

            &+.breadcrumb-item::before {
              float: none;
              padding-right: 0.25rem;
              content: "";
            }

            &.arry svg {
              display: inline-block;
              @include typography(text-lg);

              @include desktop-small {
                @include typography(text-md, regular);
              }
            }
          }
        }
      }

      p {
        @include typography('text-lg', regular);
        margin-bottom: 10px;
        color: var(--color-white);
        max-width: 57%;

        @include desktop-small {
          @include typography('text-md', regular);
          max-width: 100%;
          margin-bottom: 2px;
        }
      }

      .nohero-btn {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
        background: var(--color-primary);
        padding: 12px 24px;
        border-radius: 12px;

        span {
          @include typography('text-lg', 'extra_bold');
          color: var(--color-white);


          @include desktop-small {
            @include typography('text-md', 'bold');
          }
        }
      }


    }

    .image-contents {
      width: 100%;
      position: relative;
      z-index: 1;


      .hero_tr,
      .hero_tl,
      .hero_br,
      .hero_bl {
        display: none;
      }


      .no-hero-img-for-desktop {
        width: 100%;
        margin-bottom: -8px;

        @include tablet {
          width: 100%;
        }

        @include mobile {
          height: 318px;
          object-fit: cover;
        }
      }

      .no-hero-img-top-left {
        position: absolute;
        top: -14%;
        left: 6%;
        z-index: -1;

        @include desktop-small {
          display: none;
        }

      }

      .no-hero-img-bottom-right {
        position: absolute;
        bottom: -10%;
        right: 7%;
        z-index: -1;

        @include desktop-small {
          display: none;
        }

      }
    }


  }
}